* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$theme-colors: (
	"primary" : #D3FAC7,
	"secondary" : #2D3047,
	"tertiary" : #C1B098,

	);

$primary : #D3FAC7;
$secondary : #2D3047;
$tertiary : #C1B098;


@import "./../node_modules/bootstrap/scss/bootstrap";

:root {
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
}

#body {

	width:	100%;
	height: 100vh;
	background-image: url(./../images/landingbg.jpg);		
	margin: 0;	
	background-image: center center;
	background-size: cover;
	opacity: .8;
	background-repeat: no-repeat;
	position: relative;
	scroll-behavior: smooth;
}

.body {
	width:	100%;
	height: 100vh;
	margin: 0;
	position: relative;
	scroll-behavior: smooth;
}

.mainbg {
	width:	100%;
	height: 100%;
	background-image: url(./../images/bgpic.jpg);		
	margin: 0;	
	background-image: center center;
	background-size: cover;	
	background-repeat: no-repeat;
	scroll-behavior: smooth;
	background-position: center center;

}

.mainbg1contact {
	background-image: url(./../images/bgpic.jpg);
	height: 94.5vh;
}

#mainbg {
	width:	100%;
	height: 100%;			
	margin: 0;	
	background-image: center center;
	background-size: cover;	
	background-repeat: no-repeat;
	position: relative;
	scroll-behavior: smooth;
	background-position: center center;

}

#mainbg1 {
	background-image: url(./../images/bgpic.jpg);
	height: 100%;
	width: 100%;

}

.mainbgindex {
	width:	100%;
	height: 100vh;			
	margin: 0;	
	background-image: center center;
	background-size: cover;	
	background-repeat: no-repeat;
	position: relative;
	scroll-behavior: smooth;
	background-position: center center;

}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;    
    background: no-repeat center center;
    background-size: 100% 100%;

}

.navbar {
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 10;

}

.nav {	
	padding: 10px;
	background-color: #D3FAC7;
	color: black;
	border-style: outset;
	border-radius: 3.5px;
	border-color: #7D8491;
	opacity: .75;
	padding: 20px;

}

#lan-nav {
	color: black;
	border-style: outset;
	border-radius: 3.5px;
	border-color: #7D8491;
	padding: 20px;
}

.quotes {

	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	position: absolute;	
	color: black;		
	margin: 0;
	text-align: center;
	top: 25%;
	left: 22%;
	right: 22%;
	float: all; 

}

.btnstyle {
	align-content: center;
	position: relative;
	background-color: #C1B098;
	width: 200px;
	border-radius: 0 15px 0 15px;
}

.btntxt {
	font-size: 20px;
	font-family: 'Lobster', cursive;
	padding: 12px;
	left: 30%;
	top: 50%;
	width: auto;
	height: auto;
	position: absolute;
	transform: translate(-50%, -50%);    
}

.head-foot {
	font-size: 18px;
	border-style: outset;	
	opacity: .8;
	font-family: 'Righteous', sans-serif;
}

.card {
	width: auto;
	height: 100%;
	border: 2px solid #C1B098;	
	margin: 0 auto;
	background-color: #B4EBCA;
	animation-duration: 7s;
	animation-delay: .9s;
	opacity: 1;

}

.card-title {
	color: #2D3047;
	font-family: 'Lobster', sans-serif;
	font-size: 30px;	

}

.card-text {
	color: #2D3047;
	font-family: 'Righteous', sans-serif;

}

.card-pos {
	color: #2D3047;
	font-size: 17px;	
	 
}


.main1 {
	
	background-image: url(./../images/gal.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: auto;
	height: 100vh;
	background-attachment: fixed;

}

.main2 {
	background-image: url(./../images/gal.jpg);

	
}

.galimg {
	height: 25rem;
	width: 40rem;	
}

#modal-title {
	text-align: center;
	color: #2D3047;
	font-family: 'Lobster', sans-serif;
	font-size: 40px;
	color: #D3FAC7;
}

#modalhead {
	background-color: #2D3047;
	text-align: center;
}

#modalbody {
	background-color: #2D3047;
	color: #D3FAC7;
}

.img-fluid {
	height: 25rem;
	width: 40rem;
	animation-delay: .8s;
	animation-duration: 2s;
}

.modalimg {
	height: 30rem;
	width: 40rem;
}

.form-control,
.jumbotron, {
	background-color: #D3FAC7;
}	

.social-links {
	width: 25px;
	height: 25px;
	border: 2px solid lightblue;
	margin-right: 10px;
	margin-left: 17.5%;
	border-radius: 10px;
}

/*media queries*/
/*mobile styling*/
@media only screen and (max-width: 400px) {
	.quotes {
	font-size: 10px;
	float: left;
	width: 50%;		
	}
	.maps2 {
		width: 85%;
		height: 85%;
	}
}
/*tablet styling*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.quotes {
	font-size: 12px;
	float: left;			
	}
	.maps2 {
		width: 75%;
		height: 75%;
	}
} 
/*desktop styling*/
@media only screen and (min-width: 961px) {
	.quotes {
	font-size: 20px;
	float: left;			
	}
}